---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="intro">
<h2>How ya doin'?</h2>
<figure>
<img src="https://res.cloudinary.com/chrisrindone/image/upload/v1614777129/chris1_aur7al.png" alt="me">
<figcaption>☝️ Me</figcaption>
</figure>
<p>Welcome to my outlet for endless drivel, an occasional insight, and hopefully one or two posts that represent sparks of possible genius, (hey, it could happen!)
A lot of my posts will deal with tech/dev/nerd stuff, but I'll be posting stuff about anything that inspires me at a given moment.
</p>
<p>
Thanks for stopping by. Enjoy your visit!
</p>
</div>
{% set maxPosts = collections.posts.length | min(3) %}
<h1>My {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}{% endif %} newest posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in 👉 <a href="{{ '/posts/' | url }}">the archive</a>.</p>
